/*-- scss:defaults --*/
$h1-font-size:          30px !default;
$h2-font-size:          24px !default;
$h3-font-size:          20px !default;


/*-- scss:rules --*/
.nav-link {
  font-size: 15px;
}

div.tab-content {
  padding: 0px;
}

tr:nth-child(even) {
  background-color: #ededed;
}

p, th, td {
  font-size: 15px;
}
